# Auto detect text files and perform LF normalization
*          text=auto
# Detect correct language
doc/*      linguist-documentation=false
*.sty      linguist-language=TeX
*.fontspec linguist-language=TeX
